<h1 id="titulo">PORTAFOLIO</h1>
<h2 id="sub-titulo">Proyectos Geomática</h2>
<div id="icons">
    <img class="icon" src="../../../../assets/img/qgis.png" alt="qgis" style="width: 90px;">
    <img class="icon" src="../../../../assets/img/arcgis.png" alt="arcgis">
    <img class="icon" src="../../../../assets/img/postgresql.png" alt="postgresql">
    <img class="icon" src="../../../../assets/img/postgis.png" alt="postgis">
    <img class="icon" src="../../../../assets/img/python.png" alt="python">
    <img class="icon" src="../../../../assets/img/js.png" alt="javascript">
    <img class="icon" src="../../../../assets/img/java.png" alt="java">
    <img class="icon" src="../../../../assets/img/angular.png" alt="angular">
    <img class="icon" src="../../../../assets/img/spring-boot.png" alt="spring boot" style="width: 90px;">
</div>

<p class="titulo-proyecto">
    <strong>
        1. Aplicativo Web para el Análisis del Impacto de Inundaciones en los Distritos de Rímac y Lurigancho durante
        los Fenómenos del Niño en los Años 1987, 1998 y 2017.
    </strong>
</p>
<p>
    El Aplicativo Web desarrollado tiene como objetivo proporcionar una plataforma interactiva para analizar el impacto
    de las inundaciones ocasionadas por el fenómeno del Niño en los distritos de Rímac y Lurigancho durante los años
    1987, 1998 y 2017. Esta aplicación integra información raster y vectorial proveniente de instituciones públicas, que
    ha sido procesada utilizando el software QGIS para su posterior visualización y análisis.
</p>

<img src="../../../../assets/img/fem_ninio.png" class="img-proyecto">

<h2>Video Demostrativo</h2>

<video width="500" height="260" controls autoplay>
    <source src="../../../../assets/videos/fenomeno_ninhio.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
</video>

<p style="color: red;"><strong>Link del aplicativo: </strong>  <a href="https://davidct95.github.io/dashboard.github.io/" target="_blank">https://davidct95.github.io/dashboard.github.io/</a></p>

<p class="titulo-proyecto">
    <strong>
        2. Interfaz de Edición para el Proyecto de Drenaje Pluvial Integral de la Ciudad de Talara
    </strong>
</p>

<p>
    La Interfaz de Edición desarrollada constituye una herramienta para el Proyecto de Drenaje Pluvial Integral
    de la Ciudad de Talara. Esta interfaz está diseñada para gestionar la información geoespacial relacionada con el
    sistema
    de drenaje pluvial, ofreciendo funcionalidades de edición y actualización de datos en tiempo real.
</p>

<img src="../../../../assets/img/int_edicion.png" class="img-proyecto">

<h2>Video Demostrativo</h2>

<video width="500" height="260" controls autoplay>
    <source src="../../../../assets/videos/interfaz_edicion.mp4" type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
</video>