<div id="info">
    <h1 id="nombre">Pedro Carassa</h1>
    <img src="" alt="">
    <p>Egresado de la carrera de Geomática en SENCICO. Apasionado con el desarrollo de aplicaciones GIS y comprometido
        con
        la aplicación de tecnología espacial para resolver desafíos del mundo real. Mi experiencia incluye la
        manipulación
        de datos geoespaciales, el desarrollo de aplicaciones SIG (Sistemas de Información Geográfica) y la
        implementación
        de soluciones basadas en la ubicación.</p>
    <p>

        He desarrollado proyectos desde la captura y análisis de datos geoespaciales hasta la creación de visualizaciones
        interactivas y herramientas de toma de decisiones. Utilizando herramientas como ArcGIS, QGIS, Python,
        JavaScript, PostgreSQL y APIs geoespaciales, he desarrollado soluciones que facilitan la exploración y
        comprensión del entorno.
    </p>

    <p><strong>Correo de contacto: </strong>dt139237@gmail.com</p>

</div>
